# local dev
.DS_Store
Thumbs.db
.idea
npm-debug.log

# caches
/storage/cache

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup

# infrastructure
.terraform
terraform.tfvars
